/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'CustomFont'; 
    src: url("Coolvetica\ Rg.otf");
}

@font-face {
    font-family: 'Custom2';
    src: url("Coolvetica\ Rg\ Cond.otf");
}

h1 {
    font-family: 'CustomFont', sans-serif;
    letter-spacing: 0.25rem;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 4px 4px #c62323;
}

body {
    font-family: 'CustomFont', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #cad4ff, #a8b5ff, #5480e1, #315cf7);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    color: #fff;
}

table {
    margin: auto;
}

p, ul {
    font-family: 'CustomFont', sans-serif;
    padding-bottom: 20px;
    font-size: 1.5rem;
    text-shadow: 2px 2px #c62323;
}

p a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

p a:hover {
    color: #FFD700;
    transform: scale(1.1);
}

p a:active {
    color: #b1563a;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#main-container {
    text-align: center;
    padding-top: 20px;
    width: 80%;
}

#Download {
    float: right;
    position: static;
    margin-right: 200px;
}

#content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 20px 0;
}

#aboutme {
    padding-top: 200px;
    text-align: left;
    flex: 1;
    margin-right: 20px;
}

#aboutme h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

#aboutme p {
    font-size: 1.5rem;
    line-height: 1.8;
    text-shadow: 2px 2px #a77575;
    margin-right: 100px;
}

#projectstitle {
    padding-top: 750px;
}

h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

img {
    margin-top: 200px;
    max-width: 600px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    margin-right: auto;
    margin-left: auto;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 25px;
    gap: 20px;
}

button {
    width: 130px;
    height: 40px;
    font-size: 1.1em;
    cursor: pointer;
    text-shadow: 2px 2px #ef7f7f;
    background-color: #8b9dff;
    color: #fff;
    border: none;
    border-radius: 5px;
    border-color: #171717;
    transition: all .4s;
}

button:hover {
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #f85959,
     0 15px 0 -4px #39a2db,
     0 16px 10px -3px #39a2db;
}

.button:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #f85959,
     0 8px 0 -4px #39a2db,
     0 12px 10px -3px #39a2db;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.navbar-title {
    font-family: 'CustomFont', sans-serif;
    text-shadow: 1.5px 1.5px #c62323;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-links a {
    font-family: 'CustomFont', sans-serif;
    color: #fff;
    text-shadow: 1.5px 1.5px #c62323;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s, transform 0.3s;
}

.navbar-links a:hover {
    color: #60aefc;
    transform: scale(1.1);
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.project-card {
    background-color: #b8d8f3;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Enhanced shadow for better depth */
    padding: 20px;
    text-align: left;
}

.project-card h2 {
    font-family: 'Custom2', sans-serif;
    color: #fbfbfb;
    font-size: 35px;
    text-shadow: 1px 1px #070707;
}

.project-card p {
    font-size: 20px;
    line-height: 1.5;
    text-shadow: 1px 1px #090808;
}

.project-card a {
    font-family: 'Custom2', sans-serif;
    color: #007acc;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

.project-card a:hover {
    color: #f39c12;
    transform: scale(1.1);
}
